---
import type { GetStaticPaths } from "astro";
// Astro assets
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

// components
import PostCard from "@/components/ui/PostCard.astro";
import Layout from "@/layouts/Layout.astro";

import me from "@/assets/img/avatar.jpg";
import Link from "../../components/ui/Link.astro";
import Heading from "@/components/ui/Heading.astro";


export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = await getCollection("posts", ({ data }) => !data.isDraft);
  // most recent is sorted first
  return paginate(allPosts.sort((b, a) => new Date(b.data.pubDate).getUTCDate() - new Date(a.data.pubDate).getUTCDate()
  ), 
  { pageSize: 2 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout title=`Bloggy Thoughts | Page ${page.currentPage}`>
  <main class="content-grid blog">
    <article class="wrapper flow">
      <Heading tagName="h1" size="h1" align="center">Articles</Heading>
      <div class="switcher">
        <div>
          <Heading tagName="h3" size="h3" align="center">
            UI, Visuals, Trends, Web Development and various insights.
          </Heading>
          <p class="center">Each post covers some challenge I've met during my Front-end development work. Or, just thoughts.</p>
          <p class="center">Page {page.currentPage}</p>
            <!-- <Image class="avatar" src={me} width={120} format="avif" alt="Profile image for Peter Chapman" /> -->

        </div>
        <div class="grid-wrapper">
          {
            page.data.map((post) => (
              <PostCard post={post} />
            ))
          }
        </div>
        <div class="pagination">
          {
          page.url.prev &&
            <Link href={page.url.prev} variant="badge">Previous</Link>
          }
          {
          page.url.next &&
            <Link href={page.url.next} variant="badge">Next</Link>
          }
        </div>
      </div>
    </article>
  </main>
</Layout>

<style>
  .grid-wrapper {
    display: grid;
    gap: var(--size-5);
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    margin: var(--space-lg) var(--space-3xs);
  }
  .pagination {
    margin: var(--space-lg) var(--space-3xs);
  }

</style>