---
import { Image } from "astro:assets";

const { url, title, description } = Astro.props;
---
<div class="card max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:border-gray-700">
  <a href={url} class="flex">
    <Image src="https://docs.astro.build/assets/arc.webp" alt="blog image" width="300" height="300" />
  </a>
  <div class="p-5">
      <a href={url}>
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{title}</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{description}</p>
      <p class="text-base"><a href={url}>Read more</a></p>
  </div>
</div>
