---
import { type CollectionEntry } from 'astro:content';
import Link from './Link.astro';
import Heading from './Heading.astro';
import FormattedDate from '@ui/FormattedDate.astro';
import Image from 'astro/components/Image.astro';

type Props = {
  post: CollectionEntry<'posts'>
}

const { post } = Astro.props;
const { title, description, image, pubDate } = post.data;
---

<article class="post-card card">
  <div>
    <Image src={image} width={300} height={200} format="avif" alt={title} />
    <div class="content">
      <div class="rows">
        <div>
          <Heading tagName='h3' size='h4'>
            <a href={`/blog/${post.slug}/`}>{title}</a>
          </Heading>
          <FormattedDate pubDate={pubDate} />
        </div>
        <p>{description}</p>
        <Link href={`/blog/${post.slug}/`}>Read post</Link>
      </div>
    </div>
  </div>
</article>